
h3{
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 5rem;   
    margin-top:20px
}

end-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
imput{
    color: #fff;
    width: 200px;
}
label{
    color: white;
    
}
#end{
    height: 100vh !important;
}
