form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 60px;
  margin: 0;
}
#demo-controlled-radio-buttons-group {
  font-size: 30px;
  color: aliceblue;
}
#demo-controlled-radio-ans-group {
  font-size: 30px;
  color: aliceblue;
}
h5 {
  color: white;
  font-size: 30px;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  color: aliceblue;
  height: 100vh;
}
p {
  color: rgb(35, 122, 199);
  font-size: 2.4rem;
  position: absolute;
  margin-left: 0.1em;
  margin-top: 9em;
  width: 80%;
}
/* form{
    font-size: 5.4rem;
} */
/* #demo-controlled-radio-buttons-group{
    color: aliceblue;
    font-size: 3.4rem;

} */
/* label{
    font-size: 2.4rem;
} */
.choice-container {
  display: flex;

  width: 80%;
  border-radius: 4px;
  background: rgb(18, 93, 255);
  font-size: 2rem;
  min-width: 80rem;
  line-height: 3.5rem;
  padding: 2px;
}
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
  transform: scale(1.02);
  transform: transform 100ms;
}
